<div>
    <Header @title="Employee List" />
    {{#if this.isLoading}}
    <LoaderSpinner />
    {{/if}}
    <div class="form-body">
        <div class="filter-container">
            <div>
                <input class="input-search" type="text" placeholder="Search..." value={{this.searchQuery}} {{on "input"
                    this.handleSearchInput}}>
            </div>
            <div>
                <button class="btn btn-primary btn-m" type="button" {{on "click" this.goToEmployeeForm}}>&plus; Add
                    Employee</button>
            </div>
        </div>
        <div class="table-responsive table-layout">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if this.filteredModel.length}}

                    {{#each this.filteredModel as |employee|}}
                    <tr {{on "click" this.goToStudentListAllPage}}>
                        <td>{{employee.emp-id}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.email}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" type="button" {{on "click" (fn this.editEmployee
                                employee.emp-id)}}>Edit</button>
                            <button class="btn btn-danger btn-sm" type="button" {{on "click" (fn this.deleteEmployee
                                employee.emp-id)}}>Delete</button>

                        </td>
                    </tr>
                    {{/each}}

                    {{else}}
                    <tr>
                        <td colspan="4">No Employees Found</td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</div>